@font-face {
    font-family: Aleo;
    src: url(../fonts/Aleo/Aleo-Regular.ttf);
}

@font-face {
    font-family: Josefin Sans;
    src: url(../fonts/Josefin_Sans/JosefinSans-VariableFont_wght.ttf);
}
